
@{
    ViewData["Title"] = "Vitrin";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}

<div class="row">

    <div class="col-lg-4">

        <div class="image-wrap-2">
            <div class="image-info">
                <h2 class="mb-3">Nature</h2>
                <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>
            </div>
            <img src="~/photosen/images/img_1.jpg" alt="Image" class="img-fluid">
        </div>

    </div>
    <div class="col-lg-4">
        <div class="image-wrap-2">
            <div class="image-info">
                <h2 class="mb-3">Portrait</h2>
                <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>
            </div>
            <img src="~/photosen/images/img_2.jpg" alt="Image" class="img-fluid">
        </div>
    </div>
    <div class="col-lg-4">
        <div class="image-wrap-2">
            <div class="image-info">
                <h2 class="mb-3">People</h2>
                <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>
            </div>
            <img src="~/photosen/images/img_3.jpg" alt="Image" class="img-fluid">
        </div>
    </div>
    <div class="col-lg-4">

        <div class="image-wrap-2">
            <div class="image-info">
                <h2 class="mb-3">Nature</h2>
                <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>
            </div>
            <img src="~/photosen/images/img_1.jpg" alt="Image" class="img-fluid">
        </div>

    </div>
    <div class="col-lg-4">
        <div class="image-wrap-2">
            <div class="image-info">
                <h2 class="mb-3">Portrait</h2>
                <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>
            </div>
            <img src="~/photosen/images/img_2.jpg" alt="Image" class="img-fluid">
        </div>
    </div>
    <div class="col-lg-4">
        <div class="image-wrap-2">
            <div class="image-info">
                <h2 class="mb-3">People</h2>
                <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>
            </div>
            <img src="~/photosen/images/img_3.jpg" alt="Image" class="img-fluid">
        </div>
    </div>


</div>
